.applicant-form
  %h1
    Apply to be a Shopper - Background Check Acceptance
  .background_check
    = form_for(current_applicant, url: next_step_applicants_path, method: :post) do |f|
      .form-group
        .col-md-6.col-md-offset-3

          %p
            I hereby authorize and Instacart designated agents and representatives to conduct a comprehensive review of my background to evaluate if
            I am qualified for the position for which I am applying. I understand that Instacart will utilize an outside firm or
            firms to assist it in checking such information, and I specifically authorize such an investigation by
            information services and outside entities of the company's choice.

          %p
            I understand that information contained in my employment or contractor application, or otherwise disclosed by me before or during
            my employment or contract assignment, if any, may be used for the purpose of obtaining and evaluating background check reports
            on me. I also understand that nothing herein shall be construed as an offer of employment or contract for services.

          %p
            I agree with all the above terms.

      .form-group
        .col-md-offset-4.col-md-4
          = f.hidden_field :background_check_acceptance, value: true
          = f.submit "Submit", class: 'call-to-action'