.applicant-form{
  text-align: center;
  padding-top: 55px;
  p {
    text-align: center;
  }

  h1 {
    margin-bottom: 40px;
  }

  .form-control {
    height: 50px;
  }

  p.error {
    color: $red;
  }

}

.applicant-form-confirmation {
  padding-top: 55px;

  p {
    font-size: 20px;
  }

  ul{
    list-style-type: none;

    li{
      font-size: 17px;
    }
  }
}

.application-status {
  margin-top: 55px;

  form {
    max-width: 350px;
    margin: 0 auto;
  }

  input {
    margin-top: 15px;
    height: 55px;
  }

  button {
    margin-top: 20px;
    width: 100%;
  }
}